.container {
  display: flex;
  border-top: 1px solid #e5e5e5;
  padding: 20px 0 20px 0;
  max-width: 90%;
}
.content_wrap {
  border: 1px solid red;
  margin-right: 15px;
}
.title {
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.price {
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  color: #1d1f22;
  margin-top: 25px;
  margin-bottom: 20px;
}
.sizes_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rectangle {
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  text-align: center;
  line-height: 45px;
  margin-top: 7px;
  margin-right: 12px;
  cursor: pointer;
  background-color: #fff;
}
.disabled {
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
}
.rectangle:hover {
  background-color: #1d1f22;
  color: white;
}
.quantity_wrap {
  border: 1px solid blue;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.control_btn {
  width: 45px;
  height: 45px;
  border: 1px solid #1d1f22;
  background-color: #fff;
  font-size: 20px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.span {
  position: absolute;
  transform: translate(1px, 2px) rotate(90deg);
}
.control_btn:hover {
  background-color: #1d1f22;
  color: #fff;
}
.quantity_text {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */
  color: #1d1f22;
}
.picture_wrap {
  border: 1px solid green;
  margin-left: 15px;
  background: url(./../../assets/images/image2.jpg) no-repeat center/cover;
  width: 140px;
  position: relative;
}
.arrow_left,
.arrow_right {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 36%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}
.arrow_left {
}
.arrow_right {
  right: 2px;
}
